.wrapper{
    width: 100%;
    height: 1000px;
}

.container{
    width: 100%;
    max-width: var(--default-layout-width);
    margin: 0 auto;
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content{
    flex: 3;
}